
.jPopupShow {
    right: 3px!important;
}
#jSystemPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    width: 95%;
    max-width: 320px;
    height: auto;
    max-height: 50vh;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 15px;
    color: white;
    /*border: 1px solid black;*/
    z-index: 99999;
    -webkit-animation: fadeitin 0.4s forwards;
}
@-webkit-keyframes fadeitin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.jSystemOptions { /* holds the buttons */
    position: relative;
    /*background-color: red;*/
    width: 80%;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#jSystemYes {
    position: absolute;
    top: 5px;
    right: 20px;
    padding: 5px;
    width: 30%;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    /*border-left: 1px solid green;
    border-right: 1px solid green;*/
}
#jSystemYes::after {
    content: attr(title);
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#jSystemNo {
    color: white;
    position: absolute;
    top: 5px;
    left: 20px;
    padding: 5px;
    width: 30%;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    /*border-left: 1px solid red;
    border-right: 1px solid red;*/
    text-align: center;
    border-radius: 4px;
}
#jSystemNo::after {
    content: attr(title);
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#jSystemOK {
    position: absolute;
    top: 5px;
    left:50%;
    -webkit-transform:translate(-50%);
    padding: 5px;
    width: 30%;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    /*border-left: 1px solid green;
    border-right: 1px solid green;*/
}
#jSystemOK::after {
    content: attr(title);
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#jSystemMessage {
    padding: 10px;
    font-size: 12px;
    overflow: scroll;
    height: auto;
    width: auto;
    max-height: 100%;
    text-align: justify;
    text-justify: inter-word;
    white-space: pre-line;
    margin: 20px;
    border-top: 0px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    color: white;
    /*background-color: blue;*/
}




